name: GitHub Metrics

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

          # Language stats
          plugin_languages: yes
          plugin_languages_details: percentage
          plugin_languages_limit: 10

          # Force include Tailwind & CSS
          plugin_languages_indepth: yes
          plugin_languages_categories: markup, programming, data, prose

          # Detect framework usage
          plugin_topics: yes
          plugin_topics_limit: 15
